# 1.0 - Integers and Floats

Integers (ints) and floats (floating point) are two ways we represent numbers in Python. Integers represent numbers with no decimal point (E.g. 0, 1, 2, 3) and floats represent any number with a decimal point. Let's see this in action:

In [0]:
# We'll use the 'type()' function to check the type -- useful for debugging!

print('1: {}'.format(type(1))) # Will be a integer
print('2.0: {}'.format(type(2.0))) # Will be a float

1: <class 'int'>
2.0: <class 'float'>

**Note on precision and rounding errors**
Because of limitations on computer memory, you may run into the problem of rounding errors with floats. Let's see an example:

In [0]:
10.1 == 4.9 + 5.2

False

The expression above should evaluate to true! However, because of the precision limit of floating point numbers, there is a small rounding error. Be wary of this problem when trying to assert equality with floats!

In [0]:
4.9 + 5.2

10.100000000000001

### 1.1 - Operators on Integers and Floats

Python comes built in with a set of operations that you can conduct on integers and floats. Below are examples of operations on integers, but the also work with floats. However, be wary of the rounding errors for floats mentioned above.

#### 1.1.1 - Addition

In [0]:
# Integer Addition
1 + 2 + 3

6

#### 1.1.2 - Subtraction

In [0]:
# Integer Subtraction
1 - 2

-1

#### 1.1.3 - Division

In [0]:
# Integer Division
4 / 2

2.0

**Note:** Dividing by an interger results in a float! To get an integer output, you would either need to cast/convert it into an int (see later section) or using floor division `//`. This results in the largest whole number divisor.

#### 1.1.4 -  Floor Division

In [0]:
# Integer Floor Division
4 // 2

2

In [0]:
# Integer Floor Divison with Remainder
5 // 2

2

#### 1.1.5 - Multiplication

In [0]:
# Integer Multiplication
4 * 2

8

#### 1.1.6 - Powers
In most cases, you may be used to `^` as being the symbol to indicate raising a number to a power. Howver, this symbol is reserved for a different operation. Instead, you need to use `**`.

In [0]:
# 2^3 This is not how you want to raise a number to a power!

2**3

8

#### 1.1.7 - Modulo

There are some cases where you may want to use the modulo operator (`%`). This operator returns the remainder after dividing the first number by the second

In [0]:
10%4

2

### 1.2 - Order of Operations

The order of operations follows the same rules as you're used to:

1. `**`
2. `*`, `/`, `%`, `//`
3. `+`, `-`

To create complex expressions and control the order of operations, remember to use parentheses:

In [0]:
a = 2 + 1 / 4 + 2 * 4 + 3
b = (2 + 1) / ((4 + 2) * 4 + 3)
print(a)
print(b)

13.25
0.1111111111111111

# 2.0 - Strings

Strings are another basic type that you'll encounter fairly often in Python programming. In addition to representing words, they may be used to store information or as a key in a dictionary (more on this in a later module). Let's see how we can construct strings and other methods to use on them:

### 2.1 - String Construction

Strings are defined by wrapping text in single or double quotes, but you must stay consistent. Jupyter Notebooks and Google Colab have a handy syntax highlighting feature that makes it easy to see what is a string and what isn't.

In [0]:
string_a = 'Single quote string'
string_b = "Double-quote string"

In [0]:
string_error = "This is not a valid string' # Should only use on or the other!

SyntaxError: ignored

However, you *can* nest the opposite quote within the other -- this is how you can get single quote apostraphes into strings:

In [0]:
string_c = "Isn't bioengineering great?"

### 2.2 - Splitting Strings

Sometimes, you may want to split strings into the individual words (removes spaces, new lines, tabs, and commas):

In [0]:
"The answer to life, the universe, and everything is 42".split()

['The',
 'answer',
 'to',
 'life,',
 'the',
 'universe,',
 'and',
 'everything',
 'is',
 '42']

You can also split text on a given separator.

In [0]:
"This-is-a-test".split('-')

['This', 'is', 'a', 'test']

### 2.3 - Concatenating Strings

Unlike splitting strings, there are many ways to join strings together.

In [0]:
# Joining strings using "+"
"Hello " + "World"

'Hello World'

In [0]:
# Joining strings using str.join()
sep = " " # Defines separator as a space
sep.join(['Hello', 'World']) # Pass in a list of strings to str.join()

'Hello World'

In [0]:
# Multiplying Strings - Repeating outpout
'Hello World '*5

'Hello World Hello World Hello World Hello World Hello World '

#### Optional Exercise: String Concatenation

In [0]:
## String Concatenation Test (Optional)
def stringcat():
    '''
    Fill out below so that this function returns "Stanford BioE"
    '''
    answer = None
    return(None)

### Eval (DO NOT EDIT)
assert stringcat == 'Stanford BioE', "Don't worry, please try again!"

AssertionError: ignored

### 2.4 - String Lengths

Sometimes, you just need to know how many characters the string is.

In [0]:
## Getting the "length of the string"
len("Hello World")

11

### 2.5 - Substrings and String Splicing

Getting a specific piece of a string is also a common task in Python. This process is called "splicing," and is also the same as how we work with lists (more on that in another module).

Strings can be thought of as a 0-indexed sequence of characters:

In [0]:
my_string = "Hello World"

# To select a specific character, slice into the string using brackets and its index
my_string[0]

'H'

In [0]:
# To select a range of characters, you need the start (inclusive) and stop index (exclusive)
my_string[0:5]

'Hello'

In [0]:
# You can even slice from the middle
my_string[2:7]

'llo W'

In [0]:
# Use [Start::] to slice everything starting for the index
my_string[2::]

'llo World'

In [0]:
# You can also slice backwards using negative numbers (-1 is the last index)
my_string[-5::]

'World'

### 2.6 - Other String Methods

In [0]:
# Look for the index that a substring is found:

str_to_find = 'World'
my_string.find(str_to_find) #my_string = 'Hello World'

6

In [0]:
# Replace substrings with new substrings

my_string = 'The answer to life, the universe, and everything is 24.' # Incorrect Answer
old_term = '24'
new_term = '42'
my_string.replace(old_term, new_term)

'The answer to life, the universe, and everything is 42.'

### Optional Exercise: Putting Everything Together

To test your understanding of string methods, please solve the following exercise. Once you've filled in a solution, test it by running the assertion statement below it

Given the string below, extract out 'hello' using methods introduced above.

In [0]:
search_string = None
test_string = 'Bioengineering is awesome. I would say hello to anyone I see.'

start_index = None # Hint: where should you start slicing
end_index = None
answer = None

In [0]:
assert answer == 'hello', "Close! Try again"

AssertionError: ignored

##### Solution

In [0]:
search_string = 'hello' # Store string here
test_string = 'Bioengineering is awesome. I would say hello to anyone I see.'

start_index = test_string.find(search_string) # Use str.find to get start index
end_index = start_index + len(search_string) # Get len to know end index
answer = test_string[start_index:end_index]
assert answer == 'hello', "Close! Try again"

# 3.0 - Variables

In Python, variables are the way we can store values or objects for later use. You've already seen variables used throughout this guide; whenever you saw a line of the following format:

`name = {value}`

**Notes on Variable Names**  
There are different style guides on what to name variables, but the main advice would be to make it descriptive. `a` may seem fine at first, but it may be harder to understand what it is storing if it were used in more complex situations.

The process of associating a variable with some value is known as declaring or instantiating the variable. Variables can end up storing anything, from the basic types we saw here to even more complex objects you'll see in future modules.

In [0]:
a = 4
b = 'This is a string'

As you saw in previous modules, becuase cells in notebooks can be ran in any order, you need to be careful about where you declare your variable and when you run that cell. A variable **must** be declared in a cell and that cell must be ran before another cell can reference it. Otherwise, you will recieve an error that will halt your code.

In [0]:
print(variable_b) # This variable hasn't been referenced

NameError: ignored

**Notes on Variables in Python Notebooks**  
One common bug specific to Python notebooks is mistakenly resuing variables defined in previous cells. Remember: any variables that you've previously used and have ran will remain present until you restart the notebook, so be mindful to not overwite or use old variable names.

To check what variables have been declared, Python notebooks have a convenient function:

In [0]:
whos

Variable        Type        Data/Info
-------------------------------------
a               int         4
answer          NoneType    None
b               str         This is a string
end_index       NoneType    None
my_string       str         The answer to life, the u<...>se, and everything is 24.
new_term        str         42
old_term        str         24
search_string   NoneType    None
sep             str
start_index     NoneType    None
str_to_find     str         World
string_a        str         Single quote string
string_b        str         Double-quote string
string_c        str         Isn't bioengineering great?
stringcat       function    <function stringcat at 0x7fa8a46c8d08>
test_string     str         Bioengineering is awesome<...>ay hello to anyone I see.

# 4.0 Type Conversions

Now that you have seen some of the basic Python types and can declare variables, what if you wanted to change the variable type? For instance, what if you want to to change a string that say `'42'` to the integer `42`? This can be done easily using type conversions:

In [0]:
str_42 = '42'
type(str_42) # Since it was originally declared as a string, the type is a string

str

In [0]:
# We convert from a string to an integer
int_42 = int(str_42)  #Note: This doesn't change the type of str_42
type(int_42)

int

In [0]:
# Converting from a float to an int takes the floor (rounds down)
int(42.9)

42


---
[Return to homepage](https://anthony-agbay.github.io/bioe-python-guide/)